---
interface Props {
  subtitle?: string;
  title?: string;
  titleHighlight?: string;
  facebookUrl?: string;
  phone?: string;
  email?: string;
}

const {
  subtitle = 'Contact Us',
  title = 'Contact',
  titleHighlight = 'Us',
  facebookUrl = 'https://www.facebook.com/something-silver-valley',
  phone = '+(373) 796xxxx1',
  email = 'info@silvervalley.com',
} = Astro.props;
---

<section class="contactWrapper" id="contact">
  <div class="contactContent">
    <div class="contactHeader">
      <div class="contactTitleWrapper">
        <span class="contactSubtitle">{subtitle}</span>
        <h2 class="contactTitle">{title} <span class="gradient-text">{titleHighlight}</span></h2>
        <div class="titleDivider"></div>
      </div>
    </div>
    <div class="contactCards">
      <div class="contactCard">
        <div class="contactCardIcon">
          <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z" fill="currentColor"/>
          </svg>
        </div>
        <h3 class="contactCardTitle">Facebook</h3>
        <p class="contactCardDescription">Connect with us on Facebook</p>
        <a href={facebookUrl} target="_blank" rel="noopener noreferrer" class="contactCardLink">Visit Our Page</a>
      </div>
      <div class="contactCard">
        <div class="contactCardIcon">
          <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" fill="currentColor"/>
          </svg>
        </div>
        <h3 class="contactCardTitle">Contact Information</h3>
        <div class="contactInfo">
          <div class="contactInfoItem">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z" fill="currentColor"/>
            </svg>
            <a href={`tel:${phone.replace(/[^+\d]/g, '')}`} class="contactInfoLink">{phone}</a>
          </div>
          <div class="contactInfoItem">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" fill="currentColor"/>
            </svg>
            <a href={`mailto:${email}`} class="contactInfoLink">{email}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
